html {
    background-color: whitesmoke;
}


.center-col {
    background-color: rgb(194, 194, 194);
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: -10px 10px 10px 10px grey;
    padding: 10px;  
}
.center {
    position: absolute;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    top: 30%;
    left: 20%;
}
